@import url("https://fonts.googleapis.com/css2?family=Avenir:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Avenir", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Photo by <a href="https://unsplash.com/@maxberg?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Maxim Berg</a> on <a href="https://unsplash.com/photos/a-pink-and-green-abstract-background-with-a-white-background-M8HFXJ1btZ0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
   */
  background-image: url("./Assets/Backgrounds/unsplash_bg_3.jpg");
  background-size: cover;

  /* background: #ffffff;
  background: radial-gradient(at center, #ffffff, #d0d0d0); */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Avenir", sans-serif;
}

p {
  font-family: "Avenir", sans-serif;
}

:root {
  /* LOGO COLOR   #c99383 */

  --color-primary: #c99383;

  --color-text-light: #735f32;
  --color-text-dark: #1b263bc6;

  --color-shadow-dark: #1b263b77;

  --color-bg-light: #ffffff;
  --color-bg-light-2: #999999;

  --color-bg-dark: #696969;
  --color-bg-dark-2: #808080;
  --color-bg-dark-3: #a9a9a9;

  --color-accent-1: #e9d9c7;
  --color-accent-2: #f2e9e9;
  --color-accent-3: #7c3f3f;

 
}
