/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Avenir:wght@400;700&display=swap');


* {
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: "Avenir","Poppins","Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-light);
}

:root {
  /* LOGO COLOR   #c99383 */

  --color-primary: #c99383;

  --color-text-light: #735f32;
  --color-text-dark: #1b263bc6;

  --color-shadow-dark: #1b263b77;

  --color-bg-light: #ffffff;
  --color-bg-light-2: #999999;

  --color-bg-dark: #696969;
  --color-bg-dark-2: #808080;
  --color-bg-dark-3: #A9A9A9;

  --color-accent-1: #e9d9c7;
  --color-accent-2: #f2e9e9;
  --color-accent-3: #7c3f3f;

  --container-xxl: 44%;
  --container-xl: 58%;
  --container-lg: 68%;
  --container-md: 82%;
  --container-sm: 92%;
}