@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  color: var(--color-text-dark);
}

body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg-light);
}

:root {
  --color--bg-light: #e0e1dd;
  --color-bg-dark: #282a3a;

  --color-text-light: #735f32;
  --color-text-dark: #1b263b;

  /* LOGO COLOR */
  --color-text: #c99383;

  --container-xl: 58%;
  --container-lg: 68%;
  --container-md: 84%;
  --container-sm: 92%;
}
