/* Mobile First Styles */

.home__intro__container {
  padding: 1rem;
}

.home__intro__text__box {
  margin-top: 2rem;
  padding: 0 2rem;
  animation: introTextAnimation 2s ease-in;
  animation-direction: alternate;
}
@keyframes introTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home__intro__text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-dark);
  margin-top: 1rem;
}

.home__intro__text strong {
  font-weight: 700;
  color: var(--color-text-dark);
}

.home__intro__image__box {
  display: flex;
  place-content: center;
  margin-top: 3rem;
  animation: imageAnimation 4s ease-in;
}
@keyframes imageAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home__laptop {
  width: 250px;
}

.home__intro__title__box {
  display: flex;
  justify-content: center;
  margin-top: .6rem;
  margin-bottom: 1rem;

  opacity: 0;
  transition: opacity 0.5s;
}

.home__intro__title__boxVisible {
  opacity: 1;
}

.home__intro__title {
  font-size: 0.7rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-text-dark);
}

@media screen and (min-width: 768px) {
  .home__intro__container {
    padding: 3rem;
  }

  .home__intro__title {
    font-size: 0.9rem;
    font-weight: 700;
  }

  .home__intro__text__box {
    margin-top: 2rem;
    margin: 0 3rem;
  }

  .home__intro__text {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 500;
  }

  .home__intro__image__box {
    margin-top: 3rem;
  }

  .home__laptop {
    width: 400px;
  }
}

@media screen and (min-width: 1024px) {
  .home__intro__text__box {
    margin: 0 9rem;
  }

  .home__intro__text {
    font-size: 1.1rem;
    line-height: 1.8;
    font-weight: 500;
  }

  .home__intro__image__box {
    margin-top: 5rem;
  }

  .home__laptop {
    width: 350px;
    height: 200px;
  }
}

@media screen and (min-width: 1440px) {
  .home__intro__text__box {
    margin: 0 25rem;
  }

  .home__intro__text {
    font-size: 1.2rem;
  }

  .home__laptop {
    width: 650px;
    height: 325px;
  }

  .home__intro__title {
    font-size: 1.2rem;
    font-weight: 700;
  }
}
