/* Mobile First Styles */

.home__intro__container {
  padding: 1rem;
}

.home__intro__title__box {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.home__intro__title {
  font-size: 1rem;
  font-weight: 700;

  text-align: center;
  color: var(--color-text-dark);
}

.home__intro__text__box {
  margin-top: 2rem;
  padding: 0 2rem;
  animation: introTextAnimation 2s ease-in;
  animation-direction: alternate;
}

@keyframes introTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home__intro__text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-text-dark);
  text-align: center;
  margin-top: 1rem;
}

.home__intro__text strong {
  font-weight: 700;
  color: var(--color-text-dark);
}

.home__intro__image__box {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  animation: imageAnimation 4s ease-in;
  animation-direction: alternate;
}

@keyframes imageAnimation {
  from {
    opacity: 0;
    /* transform: translateX(-100%); */
  }

  to {
    opacity: 1;
  }
}

.home__laptop {
  width: 250px;
}

@media screen and (min-width: 768px) {
  .home__intro__container {
    padding: 3rem;
  }

  .home__intro__title {
    font-size: 1.2rem;
  }

  .home__intro__text {
    font-size: .9rem;
  }

  .home__laptop {
    width: 450px;
  }
}

@media screen and (min-width: 1024px) {
  .home__intro__title {
    font-size: 1.4rem;
  }

  .home__intro__text {
    font-size: 1.1rem;
  }

  .home__laptop {
    width: 650px;
  }
}

@media screen and (min-width: 1440px) {

  .home__laptop {
    width: 850px;
  }
}