/* Mobile First Styles */

.navbar__menu {
  padding: 1rem;
}

.navbar__menu__list {
  display: flex;
  gap: 20px; /* Adjusted for better spacing on small screens */
  list-style: none;
}

.navbar__menu__list__item a {
  text-decoration: none;
  font-size: 1.5rem;
  font-family: "Avenir", sans-serif;
}

.item__line {
  margin: 0 10%; /* Adjusted for better spacing on small screens */
  padding: 0.5rem;
  box-shadow: 0 1px var(--color-text-dark);
  transition: all 0.7s ease;
}

.navbar__menu__list__item:hover .item__line {
  margin: 0 5%;
  box-shadow: 0 2px var(--color-primary);
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) {
  .navbar__menu__list {
    gap: 25px;
  }

  .navbar__menu__list__item a {
    font-size: 1.2rem; /* Adjusted font size for tablets */
  }
}

/* Media Query for Laptops */
@media screen and (min-width: 1024px) {
  .navbar__menu__list {
    gap: 50px; /* Adjusted gap for larger screens */
  }

  .navbar__menu__list__item a {
    font-size: 1.5rem; /* Restoring original font size for laptops and larger screens */
  }
}
