/* Media Query for Laptops */
@media screen and (min-width: 1024px) {
  .navbar__menu {
   margin: 0 auto;
  }

  .navbar__menu__list {
    display: flex;
    gap: 2rem;
    list-style: none;
  }

  .navbar__menu__list__item a {
    display: flex;
    text-decoration: none;
    font-size: 1rem;    
  }

  .item__line {
    margin: 0 40%; /* Adjusted for better spacing on small screens */
    padding: 0.5rem;
    box-shadow: 0 1px var(--color-text-dark);
    transition: all 0.3s ease;
  }

  .navbar__menu__list__item:hover .item__line {
    margin: 0 10%;
    box-shadow: 0 2px var(--color-primary);
  }
}

@media screen and (min-width: 1440px) {
  .navbar__menu__list {
    gap: 5rem;
  }
}
