/* Mobile First Styles */

.sidebar {

  margin-top: 2rem;
  text-align: center;
}

.sidebar__menu__list {
  list-style: none;

  animation: sidebarAnimation 0.8s ease-in;
  animation-direction: alternate;
}
@keyframes sidebarAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sidebar__list__item {
  margin-bottom: 1.8rem;
  font-size: .8rem;
  font-weight: 500;
}

.sidebar__list__item a {
  text-decoration: none;
}

.item_line {
  margin: 0 48%;
  padding: 0.5rem;
  box-shadow: 0 1px var(--color-text-dark);
}

@media screen and (min-width: 768px) {
    .sidebar__list__item {
        font-size: 1rem;
      }
}
