/* Mobile First Styles */

.home__content__blocks {
  display: block;
  animation: blockAnimation 1.7s ease-in;
}
@keyframes blockAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.home__content__block1,
.home__content__block2,
.home__content__block3 {
  padding: 1rem;
}

.home__content__block1 {
  background-color: var(--color-bg-dark);
}

.home__content__block2 {
  background-color: var(--color-bg-dark-2);
}

.home__content__block3 {
  background-color: var(--color-bg-dark-3);
}

.home__content__block__title {
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1rem;
  color: var(--color-bg-light);
}

.home__content__block__text {
  font-size: 0.7rem;
  letter-spacing: normal;
  line-height: 20px;
  color: var(--color-bg-light);
  padding: 2rem;
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) {
  .home__content__block__title {
    font-size: 1.1rem;
    padding: 1.5rem;
  }

  .home__content__block__text {
    font-size: 0.8rem;
    padding: 4rem;
  }
}

/* Media Query for Laptops */
@media screen and (min-width: 1024px) {
  .home__content__blocks {
    display: flex;
    justify-content: center;
  }

  .home__content__block__title {
    font-size: 1rem;
    padding: 1.2rem;
  }

  .home__content__block__text {
    font-size: 0.6rem;
    padding: 3rem 1rem;
  }
}

@media screen and (min-width: 1440px) {
  .home__content__block__text {
    font-size: 1rem;
    padding: 4rem;
  }
}
