/* Mobile First Styles */

.home__content__blocks {
  display: block;
  margin: 0 auto;
}

.home__content__block1,
.home__content__block2,
.home__content__block3 {
  padding: 1rem;
}

.home__content__block1 {
  background-color: var(--color-bg-dark);
}

.home__content__block2 {
  background-color: var(--color-bg-dark-2);
}

.home__content__block3 {
  background-color: var(--color-bg-dark-3);
}

.home__content__block__title {
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem;
  color: var(--color-bg-light);

  opacity: 0;
  transition: opacity 1s ease-in;
}

.home__content__block__text {
  font-size: 0.8rem;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-bg-light);
  padding: 1rem 3rem;

  opacity: 0;
  transition: opacity 1s ease-in;
}

.title1__boxVisible,
.title2__boxVisible,
.title3__boxVisible,
.text1__boxVisible,
.text2__boxVisible,
.text3__boxVisible {
  opacity: 1;
}

/* Media Query for Tablets */
@media screen and (min-width: 768px) {
  .home__content__block__title {
    font-size: 1.1rem;
    padding: 1.5rem;
  }

  .home__content__block__text {
    font-size: 1rem;
    line-height: 1.6;
    font-weight: 400;
    padding: 4rem;
  }
}

/* Media Query for Laptops */
@media screen and (min-width: 1024px) {
  .home__content__blocks {
    display: flex;
    justify-content: center;
  }

  .home__content__block__title {
    font-size: 1rem;
    padding: 1.2rem;
  }

  .home__content__block__text { 
    font-size: .8rem;   
    padding: 3rem 1rem;
  }

  .home__content__block__text:hover .home__content__block__title {
    transform: rotate(2deg);
    scale: 1.05;
    animation: turn 1s;
}
}

@media screen and (min-width: 1440px) {
  .home__content__block__title {
    padding: 1.6rem;
    margin-top: 2rem;
  }

  .home__content__block__text {
    font-size: 1rem;
    padding: 4rem;
    margin-bottom: 2rem;
  }
}
