.header {
  width: 100%;
  padding: 1rem;
}

.header__container {
  width: var(--container-md);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
}



.header__logo {
  width: 200px;
}

.header__navbar {
  margin-top: .5rem;
}

.hamburger,
.sidebar {
  display: none;
}

/* @media screen and (min-width: 1200px) {
  .header__container {
    width: 1170px;
  }


} */

/* @media screen and (max-width: 992px) {

  .header__navbar {
    display: none;
  }

  .hamburger {
    display: flex;
    position: absolute;
  }

  .sidebar {
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 1440px) {
  .header__container {
    width: var(--container-md);
  }
} */

/* @media screen and (max-width: 991px) {
  .hamburger {
    display: flex;
    position: absolute;
  }

  .sidebar {
    display: flex;
    justify-content: center;
  }

  .header__navbar {
    display: none;
  }
} */


@media screen and (max-width: 991px) {

  .header__container {
    width: var(--container-sm);
  }

  .header__logo__box,
  .header__navigation__box {
    padding: .5rem;
  }

  .header__logo__box {
    display: flex;
    justify-content: flex-start;
  }

  .header__navigation__box {
    display: flex;
    justify-content: flex-end;
  }

  .header__navbar {
    display: none;
  }

  .header__logo {
    width: 175px;
  }

  .hamburger {
    display: flex;
    position: absolute;
  }

  .sidebar {
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 425px) {

  /* .header__logo {
    width: 175px;
  } */

  /* .sidebar {
    width: 100%;
    display: flex;
    margin-right: 125%;
    margin-top: 3rem;
  } */
}