.header {
  width: var(--container-xl);
  margin: 0 auto;
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

.header__logo__box {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 250px;
  margin-top: -1rem;
}

.header__navbar {
  margin-top: 1.3rem;
}

.hamburger {
  display: none;
}

.sidebar {
  display: none;
}


@media screen and (max-width: 768px) {
  .header {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
  }

  .header__navbar {
    display: none;
  }

  .header__logo {
    width: 200px;
  }

  .hamburger {
    display: flex;
    justify-content: flex-end;
  }

  .sidebar {
    display: flex;
    justify-content: flex-start;
  }
}