/* Mobile First Styles */

.header {
  padding: 1rem;
}

.header__container {
  display: block;
  padding: 1rem;
}

.header__logo__box {
  display: flex;
  justify-content: center;

  padding: 1rem;
}

.header__navigation__box {
  display: flex;
  justify-content: center;
}

.header__logo {
  width: 300px;
}

.header__navbar {
  display: none;
}


/* Media Query for Tablets */
@media screen and (min-width: 768px) {
  .header__logo {
    width: 500px;
  }
}

/* Media Query for Laptops */
@media screen and (min-width: 1024px) {
  .hamburger,
  .sidebar {
    display: none;
  }

  .header__navbar {
    display: flex;
    margin-top: 2rem;
  }
}
