.about {
  margin-top: 4rem;
}

.about__container {
  margin: 0 auto;
  width: var(--container-lg);
}

.intro__box {
  display: block;
}

.intro__text {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
}

.slogan {
  font-size: 0.8rem;
  font-weight: 300;
}

.intro__welcome__box {
  text-align: center;
  margin: 3rem 0;
}

.title__name {
  display: inline;
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-primary);
}

.title__name__gwebdev {
  font-size: 2rem;
  font-weight: 500;
  color: var(--color-primary);
  display: inline;
}

.contact__me {
  margin: 3rem 0;
}

.contact__link {
  text-decoration: none;
  font-weight: 600;
}

@media screen and (max-width: 1023px) {
  .intro__text {
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
  }

  .slogan {
    font-size: 0.6rem;
    font-weight: 300;
  }
}