.home {
  font-family: "Avenir", sans-serif;
}

.home__container__top {
  width: var(--container-md);
  margin: 0 auto;
  padding: 1rem;
}

.home__intro__box {
  padding: 1rem;
}

.home__intro__title__box {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}

.home__intro__title {
  font-size: 4.5rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  letter-spacing: 0.4rem;
}

.home__intro__text__box {
  margin-top: 5rem;
  animation: introTextAnimation 2s ease-in;
  animation-direction: alternate;
}

@keyframes introTextAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.home__intro__text {
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  color: #333; /* Adjust the color as needed */
  text-align: center;
  margin-top: 2rem;
}

.home__intro__text strong {
  font-weight: 700;
  color: #333; /* Adjust the color as needed */
}

.home__intro__box__image {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
  animation: imageAnimation 2s ease-out;
  animation-direction: alternate;
}

@keyframes imageAnimation {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }

  to {
    opacity: 1;
  }
}

.home__laptop {
  width: 750px;
}

.home__content__box {
  width: var(--container-sm);
  margin: 0 auto;
  margin: 5rem auto;
  animation: blockAnimation 1.7s ease-in;
  animation-direction: alternate;
}

@keyframes blockAnimation {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
  }
}

.home__content__blocks {
  display: flex;
}

.home__content__block1,
.home__content__block2,
.home__content__block3 {
  padding: 5rem;
}

.home__content__block1 {
  background-color: var(--color-bg-dark);
}

.home__content__block2 {
  background-color: var(--color-bg-dark-2);
}

.home__content__block3 {
  background-color: var(--color-bg-dark-3);
}

.home__content__block__title {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 18.7px;
  margin: 10px 0px 20px;
  color: var(--color-bg-light);
}

.home__content__block__text {
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 32px;
  color: var(--color-bg-light);
  margin-top: 1rem;
}

.home__content__main__box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: 1.4fr 1fr 1fr;
}

.home__content__main__img__box {
  background-image: url("../../Assets/Images/christopher-gower-m_HRfLhgABo-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.home__content__main__box__col1,
.home__content__main__box__col2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.home__content__main__box1,
.home__content__main__box2,
.home__content__main__box3,
.home__content__main__box4 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content__line,
.border__line__up__right,
.content__text__line {
  padding: 0.5rem;
  box-shadow: 0 1px var(--color-text-dark);
  transition: all 0.7s ease;
}

.home__content__main__box1:hover,
.home__content__main__box2:hover,
.home__content__main__box3:hover,
.home__content__main__box4:hover {
  background-color: var(--color-primary);
}

.home__content__main__box1:hover .content__line,
.home__content__main__box2:hover .content__line,
.home__content__main__box3:hover .content__line,
.home__content__main__box4:hover .content__line {
  margin: 0 4%;
  margin-right: 60%;
  box-shadow: 0 2px var(--color-bg-light);
}

.home__content__main__box1:hover .border__line__up__right,
.home__content__main__box2:hover .border__line__up__right,
.home__content__main__box3:hover .border__line__up__right,
.home__content__main__box4:hover .border__line__up__right {
  margin-right: 50%;
}

.home__content__main__box1:hover .content__text__line,
.home__content__main__box2:hover .content__text__line,
.home__content__main__box3:hover .content__text__line,
.home__content__main__box4:hover .content__text__line {
  margin: 0 30%;
  box-shadow: 0 2px black;
}

.home__content__main__box1,
.home__content__main__box2 {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.home__content__main__box__title {
  font-size: 1rem;
  font-weight: 700;
  padding: 2rem;
}

.home__content__main__box__text {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0 3rem;
  margin: 3rem 0;
}

/* @media screen and (max-width: 1440px) {
  .home__container {
    width: var(--container-sm);
  }

  .home__content__box {
    width: 100%;
  }

  .home__intro__title {
    font-size: 2.2rem;
  }

  .home__intro__text {
    font-size: 0.8rem;
    line-height: 22px;
  }

  .home__laptop {
    width: 500px;
    font-size: 3rem;
  }

  .home__content__main__box {
    grid-template-columns: 1fr 1fr;
  }

  .home__content__main__img__box {
    display: none;
  }

  .home__content__block__title {
    font-size: 14px;
    color: var(--color-bg-light);
  }

  .home__content__block__text {
    font-size: 11px;
    color: var(--color-bg-light);
    margin-top: 1rem;
  }

  .home__content__block1,
  .home__content__block2,
  .home__content__block3 {
    padding: 2rem;
  }
} */
