.home {
  margin-top: 4rem;
}

.home__container {
  width: var(--container-xl);
  margin: 0 auto;
}

.home__intro__box {
  margin-top: 5rem;
  margin-left: 5rem;
}

.home__intro__title__box {
  width: 100%;
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.home__intro__text__box {
  width: var(--container-lg);
  margin-top: 1rem;
  font-size: 1rem;
}

.home__intro__text {
  font-weight: 500;
  letter-spacing: .1rem;
}


@media screen and (max-width: 768px) {
  .home__intro__title__box {
    width: 100%;
    font-size: 2.8rem;
  }
}